.horizon-col-services {
  margin-bottom: 30px;
  padding-left: 65px;
  position: relative; }
  .horizon-col-services .icon {
    border-radius: 4px;
    -moz-border-radius: 4px;
    -ms-border-radius: 4px;
    -o-border-radius: 4px;
    -webkit-border-radius: 4px;
    position: absolute;
    top: 0;
    left: 0;
    height: 46px;
    width: 46px;
    text-align: center; }
    .horizon-col-services .icon i {
      line-height: 46px; }

.horizon-call-to-action {
  background: #fff;
  border: 1px solid #efefef;
  border-left: 3px solid #00cbe9;
  padding: 10px 140px 10px 10px; }
  .horizon-call-to-action .horizon-button {
    position: absolute;
    right: 18px;
    top: 16px; }
  .horizon-call-to-action h5 {
    margin-bottom: 5px; }
  .horizon-call-to-action p {
    margin: 0; }

.horizon-full-width-wrapper {
  padding: 20px 0; }
  .horizon-full-width-wrapper h1 {
    margin-bottom: 0; }
  .horizon-full-width-wrapper > h1, .horizon-full-width-wrapper > div {
    text-align: center; }

.horizon-post-scroller .flex-control-nav {
  display: none; }

.horizon-testimonials {
  background: #f5f5f5;
  padding: 20px;
  margin-top: 20px; }
  .horizon-testimonials.shortcode-testimonial {
    background: none; }
  .horizon-testimonials div {
    display: none; }
