/*
*
*	@version: 1.0.0
*	@author: Joe McKie
*	@link: http://joemck.ie/
*	@copyright: Joe McKie 2013
*
*	This file is part of the Horizon Framework.
*
*   Horizon Framework is free software: you can redistribute it and/or modify
*   it under the terms of the GNU General Public License as published by
*   the Free Software Foundation, either version 3 of the License, or
*   (at your option) any later version.
*
*   Horizon Framework is distributed in the hope that it will be useful,
*   but WITHOUT ANY WARRANTY; without even the implied warranty of
*   MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
*   GNU General Public License for more details.
*
*   You should have received a copy of the GNU General Public License
*   along with the Horizon Framework.  If not, see <http://www.gnu.org/licenses/>.
*
*	Horizon Framework is built and maintained by Joe McKie (http://joemck.ie/)
*
*/
.horizon_sidebar_wrapper {
  margin-bottom: 70px; }
  .horizon_sidebar_wrapper h3 {
    line-height: inherit; }
  .horizon_sidebar_wrapper .custom-sidebar {
    margin-bottom: 20px;
    padding-bottom: 20px; }
    .horizon_sidebar_wrapper .custom-sidebar:last-child {
      border-bottom: 0;
      padding-bottom: 0; }
    .horizon_sidebar_wrapper .custom-sidebar ul {
      margin: 0; }
    .horizon_sidebar_wrapper .custom-sidebar li {
      list-style: none;
      margin-bottom: 5px; }
    .horizon_sidebar_wrapper .custom-sidebar:last-child {
      border-bottom: 0;
      padding-bottom: 0; }
  .horizon_sidebar_wrapper.three .custom-sidebar #searchform input {
    width: 172px; }

/* Tags */
.tagcloud a {
  border-radius: 4px;
  -moz-border-radius: 4px;
  -ms-border-radius: 4px;
  -o-border-radius: 4px;
  -webkit-border-radius: 4px;
  border: 1px solid;
  box-shadow: 0 1px 2px -1px rgba(0, 0, 0, 0.25);
  display: inline-block;
  line-height: 13px;
  margin-bottom: 5px;
  padding: 5px 12px; }

.tagcloud a:hover {
  box-shadow: 0 1px 2px -1px rgba(0, 0, 0, 0.25); }
