footer #footer {
	margin: 0 !important;
	padding-top: 30px;
	width: auto;
}

footer #footer .custom-sidebar {
	margin-bottom: 20px;
}

footer #footer .custom-sidebar .menu li {
	float: left;
	font-weight: bold;
	line-height: inherit;
	margin: 0 20px 0 0;
	text-transform: uppercase;
}

footer #footer .custom-sidebar .menu li a {
	font-weight: inherit;
	margin-right: 20px;
	padding-bottom: 2px;
}

footer #footer .custom-sidebar .menu li:after {
	content: " // ";
}

footer #footer .custom-sidebar .menu li:last-child:after {
	content: "";
}

footer #footer .custom-sidebar .menu:after {
	content: "\0020";
	display: block;
	height: 0;
	clear: both;
	visibility: hidden;
}

footer #copyright {
	padding: 30px 0;
}

footer #copyright ul {
	margin: 0;
}

footer #copyright .menu li {
	float: left;
	font-weight: bold;
	line-height: inherit;
	margin: 0 20px 0 0;
	text-transform: uppercase;
}

footer #copyright .menu li a {
	font-weight: inherit;
	margin-right: 20px;
	padding-bottom: 2px;
}

footer #copyright .menu li:after {
	content: " // ";
}

footer #copyright .menu li:last-child:after {
	content: "";
}

footer #copyright .menu:after {
	content: "\0020";
	display: block;
	height: 0;
	clear: both;
	visibility: hidden;
}
