/*
 * jquery.selectBoxIt.css 3.3.0
 * Author: @gregfranko
 */

/*
  Common CSS Properties
  ---------------------
  These properties will be applied to any themes that you use
*/

/* SelectBoxIt container */
.selectboxit-container {
  color:#999999;
  font-size: 12px;
  font-family: "Helvetica Neue";
  text-shadow: 1px 1px 0 rgba(255,255,255,0.75);
  position: relative;
  display: inline-block;
  margin: 5px 10px 5px 0;
  vertical-align: top;
}

/* Styles that apply to all SelectBoxIt elements */
.selectboxit-container * {
  /* Prevents text selection */
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: -moz-none;
  ms-user-select: none;
  -o-user-select: none;
  user-select: none;
  outline: none;
  white-space: nowrap;
}

/* Button */
.selectboxit-container .selectboxit {
  width: 220px; /* Width of the dropdown button */
  cursor: pointer;
  margin: -2px 0 -1px 0;
  padding: 0;
  overflow: hidden;
  display: block;
  position: relative;
}

/* Height and Vertical Alignment of Text */
.selectboxit-container span, .selectboxit-container .selectboxit-options a {
  height: 28px; /* Height of the drop down */
  line-height: 28px; /* Vertically positions the drop down text */
  display: block;
}

/* Focus pseudo selector */
.selectboxit-container .selectboxit:focus {
  outline: 0;
}

/* Disabled Mouse Interaction */
.selectboxit-disabled {
  cursor: default;
  opacity: 0.65;
  filter: alpha(opacity=65);
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
}

/* Button Text */
.selectboxit-text {
  text-indent: 8px;
  overflow: hidden;
  text-overflow: ellipsis;
  float: left;
}

.selectboxit .selectboxit-option-icon-container {
  margin-left: 5px;
}

/* Options List */
.selectboxit-container .selectboxit-options {
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  min-width: 100%;  /* Minimum Width of the dropdown list box options */
  *width: 100%;
  margin: -1px 0 0 0;
  padding: 0;
  list-style: none;
  position: absolute;
  overflow-x: hidden;
  overflow-y: auto;
  cursor: pointer;
  display: none;
  z-index: 9999999999999;
  text-align: left;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
  text-shadow: none;
}

/* Individual options */
 .selectboxit-option .selectboxit-option-anchor{
  padding: 0 2px;
}

/* Individual Option Hover Action */
.selectboxit-option .selectboxit-option-anchor:hover {
  text-decoration: none;
}

/* Individual Option Optgroup Header */
.selectboxit-option, .selectboxit-optgroup-header {
  text-indent: 5px; /* Horizontal Positioning of the select box option text */
  margin: 0;
}

/* The first Drop Down option */
.selectboxit-option-first {
  border-top-right-radius: 6px;
  border-top-left-radius: 6px;
}

/* The first Drop Down option optgroup */
.selectboxit-optgroup-header + .selectboxit-option-first {
  border-top-right-radius: 0px;
  border-top-left-radius: 0px;
}

/* The last Drop Down option */
.selectboxit-option-last {
  border-bottom-right-radius: 6px;
  border-bottom-left-radius: 6px;
}

/* Drop Down optgroup headers */
.selectboxit-optgroup-header {
  font-weight: bold;
}

/* Drop Down optgroup header hover psuedo class */
.selectboxit-optgroup-header:hover {
  cursor: default;
}

/* Drop Down down arrow container */
.selectboxit-arrow-container {
  /* Positions the down arrow */
  background: url(../images/icons/sprites/select-arrows.png) no-repeat -9px -10px;
  width: 28px;
  position: absolute;
  right: 0;
}

/* Drop Down down arrow */
.selectboxit .selectboxit-arrow-container .selectboxit-arrow {
  /* Horizontally centers the down arrow */
  margin: 0 auto;
  position: absolute;
  top: 50%;
  right: 0;
  left: 0;
}

/* Drop Down down arrow for jQueryUI and jQuery Mobile */
.selectboxit .selectboxit-arrow-container .selectboxit-arrow.ui-icon {
  top: 30%;
}

/* Drop Down individual option icon positioning */
.selectboxit-option-icon-container {
  float: left;
}

.selectboxit-container .selectboxit-option-icon {
  margin: 0;
  padding: 0;
  vertical-align: middle;
}

/* Drop Down individual option icon positioning */
.selectboxit-option-icon-url {
  width: 18px;
  background-size: 18px 18px;
  background-repeat: no-repeat;
  height: 100%;
  background-position: center;
  float: left;
}

/* jQueryUI and jQuery Mobile compatability fix - Feel free to remove this style if you are not using jQuery Mobile */
.jqueryui .ui-icon {
  background-color: inherit;
}

/* Another jQueryUI and jQuery Mobile compatability fix - Feel free to remove this style if you are not using jQuery Mobile */
.jqueryui .ui-icon-triangle-1-s {
  background-position: -64px -16px;
}

/*
  Default Theme
  -------------
  Note: Feel free to remove all of the CSS underneath this line if you are not using the default theme
*/
.selectboxit-btn {
  background-color: #fff;
  border: 1px solid #d6d6d6;
}

.selectboxit-arrow-container {
    border-left: 1px solid #d6d6d6;
}

.selectboxit-btn:hover,
.selectboxit-btn:focus,
.selectboxit-btn:active {
  color: #888;
}

.selectboxit-btn:hover .selectboxit-arrow-container,
.selectboxit-btn:focus .selectboxit-arrow-container,
.selectboxit-btn:active .selectboxit-arrow-container {
  background-position: -9px -47px;
}

.selectboxit-btn:hover,
.selectboxit-btn:focus {
  color: #888;
  text-decoration: none;
}

.selectboxit-list {
  background-color: #ffffff;
  border: 1px solid #ccc;
  border: 1px solid rgba(0, 0, 0, 0.2);
  -webkit-box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
  -moz-box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
}

.selectboxit-list > li > a {
  background-color: #fff;
  color: #999999;
}

.selectboxit-list > .selectboxit-focus > a,
.selectboxit-list > .selectboxit-focus > a:hover,
.selectboxit-list > .selectboxit-focus > a:focus,
.selectboxit-list > .selectboxit-focus > .selectboxit-selected > a:hover {
	background-color: #fafafa;
	color: #808080;
	padding-right: 29px;
}

.selectboxit-list > .selectboxit-focus {
    background: url(../images/icons/sprites/select-ticks.png) no-repeat right 0px;
    background-color: #fafafa;
    padding-right: 29px;
}

.selectboxit-list > .selectboxit-disabled > a {
  color: #999999;
}

.selectboxit-list > .selectboxit-disabled > a:hover,
.selectboxit-list > .selectboxit-disabled > a:focus {
  background-color: transparent;
  background-image: none;
}

.selectboxit-list > .selectboxit-selected {
  background: url(../images/icons/sprites/select-ticks.png) no-repeat right -33px;
  background-color: #fff;
  padding-right: 29px;
}
.selectboxit-list > .selectboxit-selected a { color: #7da6dd !important;}

.selectboxit-list > .selectboxit-selected.selectboxit-focus {
  background-position: right -33px;
}

.selectboxit-list > .selectboxit-selected.selectboxit-focus,
.selectboxit-list > .selectboxit-selected.selectboxit-focus > a
 {
  background-color: #fff;
}