blockquote.left {
	float: left;
	width: 33%;
}

blockquote.right {
	float: right;
	width: 33%;
}

blockquote.center {
	margin: 10px 10px 20px 20px;
	text-align: center;
}

.horizon-accordion {
	border-style: solid;
	border-width: 1px;
	border-radius: 4px;
	-moz-border-radius: 4px;
	-ms-border-radius: 4px;
	-o-border-radius: 4px;
	-webkit-border-radius: 4px;
	margin-bottom: 30px;
}

.horizon-accordion h6 {
	background: url("_theme/templates/shortcodes/accordion/images/closed.png") no-repeat 96.5% center;
	border-style: solid;
	border-width: 1px 0 0 0;
	cursor: pointer;
	outline: none;
	padding: 18px;
	text-align: left;
	text-transform: uppercase;
}

.horizon-accordion h6:first-child {
	border-top: none;
}

.horizon-accordion h6.ui-state-active {
	background: url("_theme/templates/shortcodes/accordion/images/opened.png") no-repeat 96.5% center;
}

.horizon-accordion p {
	padding: 0 20px 20px 20px;
	margin-bottom: 0;
}

.horizon-toggle {
	border-style: solid;
	border-width: 1px;
	border-radius: 4px;
	-moz-border-radius: 4px;
	-ms-border-radius: 4px;
	-o-border-radius: 4px;
	-webkit-border-radius: 4px;
	margin-bottom: 30px;
}

.horizon-toggle h6 {
	background: url("_theme/templates/shortcodes/accordion/images/closed.png") no-repeat 96.5% center;
	border-style: solid;
	border-width: 1px 0 0 0;
	cursor: pointer;
	outline: none;
	padding: 18px;
	text-align: left;
	text-transform: uppercase;
}

.horizon-toggle h6:first-child {
	border-top: none;
}

.horizon-toggle h6.active {
	background: url("_theme/templates/shortcodes/accordion/images/opened.png") no-repeat 96.5% center;
}

.horizon-toggle div {
	display: none;
}

.horizon-toggle div.active {
	display: block;
}

.horizon-toggle p {
	padding: 0 20px 20px 20px;
	margin-bottom: 0;
}

.horizon-divider {
	height: 1px;
	width: 100%;
}

.horizon-divider .horizon-divider-colour {
	height: 1px;
}

.horizon-divider .horizon-scroll-to-top {
	cursor: pointer;
	margin-top: -21px;
	padding-top: 2px;
	text-align: right;
}

.horizon-shortcode-frame.left {
	float: left;
	margin: 5px 10px 5px 0;
}

.horizon-shortcode-frame.center {
	float: none;
	margin-bottom: 30px;
	text-align: center;
}

.horizon-shortcode-frame.right {
	float: right;
	margin: 5px 0 10px 10px;
}

.horizon-shortcode-frame img.rounded {
	border-radius: 100%;
	-moz-border-radius: 100%;
	-ms-border-radius: 100%;
	-o-border-radius: 100%;
	-webkit-border-radius: 100%;
	overflow: hidden;
}

.shortcode-col {
	float: left;
	margin: 0 2% 30px 0;
}

.shortcode-col.last-col {
	margin-right: 0;
}

.shortcode-col.last-col::before, .shortcode-col.last-col::after {
	clear: both;
	content: '\0020';
	display: block;
	overflow: hidden;
	visibility: hidden;
	height: 0;
	width: 0;
}

.shortcode-col.width1-1 {
	width: 100%;
}

.shortcode-col.width1-2 {
	width: 48%;
}

.shortcode-col.width1-2.last-col {
	width: 50%;
}

.shortcode-col.width1-3 {
	width: 31.3%;
}

.shortcode-col.width1-3.last-col {
	width: 33.3%;
}

.shortcode-col.width2-3 {
	width: 64.6%;
}

.shortcode-col.width2-3.last-col {
	width: 66.6%;
}

.shortcode-col.width1-4 {
	width: 23%;
}

.shortcode-col.width1-4.last-col {
	width: 25%;
}

.shortcode-col.width3-4 {
	width: 73%;
}

.shortcode-col.width3-4.last-col {
	width: 75%;
}

.shortcode-col.width1-6 {
	width: 15%;
}

.shortcode-col.width1-6.last-col {
	width: 17%;
}

.shortcode-col.width5-6 {
	width: 81%;
}

.shortcode-col.width5-6.last-col {
	width: 83%;
}

.shortcode-col.offset1-2 {
	margin-left: 48%;
}

.shortcode-col.offset1-3 {
	margin-left: 31.3%;
}

.shortcode-col.offset2-3 {
	margin-left: 64.6%;
}

.shortcode-col.offset1-4 {
	margin-left: 23%;
}

.shortcode-col.offset3-4 {
	margin-left: 73%;
}

.shortcode-col.offset1-6 {
	margin-left: 15%;
}

.shortcode-col.offset5-6 {
	margin-left: 81%;
}

.horizon-shortcode-code {
	border: 1px solid #ddd;
	margin-bottom: 30px;
	padding: 20px;
}

.horizon-shortcode-code p:last-child {
	margin-bottom: 0;
}

.shortcode-dropcap {
	float: left;
	font-size: 22px;
	line-height: 40px;
	margin: 2px 7px 0 2px;
	text-align: center;
	height: 40px;
	width: 40px;
}

.shortcode-dropcap.circle {
	border-radius: 100%;
	-moz-border-radius: 100%;
	-ms-border-radius: 100%;
	-o-border-radius: 100%;
	-webkit-border-radius: 100%;
}

.horizon-message {
	margin-bottom: 30px;
	padding: 20px;
}

.horizon-message.rounded {
	border-radius: 4px;
	-moz-border-radius: 4px;
	-webkit-border-radius: 4px;
}

.horizon-message .message-title {
	font-weight: bold;
	margin-bottom: 5px;
}

.horizon-message.alert {
	background: #fffacc;
	border: 1px solid #e9d956;
	color: #4d4d39;
}

.horizon-message.alert .message-title {
	color: #737357;
}

.horizon-message.success {
	background: #d3ffce;
	border: 1px solid #96de90;
	color: #526d4b;
}

.horizon-message.success .message-title {
	color: #526d4b;
}

.horizon-message.warning {
	background: #ffcdcd;
	border: 1px solid #e38e8e;
	color: #713a3c;
}

.horizon-message.warning .message-title {
	color: #8d4345;
}

.horizon-message.info {
	background: #dae4ff;
	border: 1px solid #9eb5ee;
	color: #475d66;
}

.horizon-message.info .message-title {
	color: #475d66;
}

.horizon-shortcode-list ul {
	margin-bottom: 0 !important;
}

.horizon-shortcode-list li {
	background: url("_theme/templates/shortcodes/list/images/bullets.png") no-repeat;
	margin: 0 !important;
	padding: 5px 5px 5px 25px !important;
}

.horizon-shortcode-list.check li {
	background-position: 2px 5px;
}

.horizon-shortcode-list.check2 li {
	background-position: 2px -39px;
}

.horizon-shortcode-list.check3 li {
	background-position: 2px -79px;
}

.horizon-shortcode-list.cross li {
	background-position: 2px -118px;
}

.horizon-shortcode-list.cross2 li {
	background-position: 2px -159px;
}

.horizon-shortcode-list.cross3 li {
	background-position: 2px -199px;
}

.horizon-shortcode-list.arrow li {
	background-position: 2px -239px;
}

.horizon-shortcode-list.arrow2 li {
	background-position: 2px -278px;
}

.horizon-shortcode-list.arrow3 li {
	background-position: 2px -317px;
}

.horizon-shortcode-list.bullet li {
	background-position: 2px -356px;
}

.horizon-shortcode-list.bullet2 li {
	background-position: 2px -396px;
}

.horizon-shortcode-list.bullet3 li {
	background-position: 2px -436px;
}

.horizon-tabs {
	padding-top: 10px;
	margin-bottom: 30px;
}

.horizon-tabs li {
	float: left;
	list-style: none;
	margin-left: 0;
	margin-bottom: 0;
	padding: 0;
	position: relative;
	white-space: nowrap;
	z-index: 2;
}

.horizon-tabs li a {
	border-style: solid;
	border-width: 1px;
	display: block;
	float: left;
	font-size: 18px;
	margin-right: -1px;
	padding: 15px 20px;
	position: relative;
	text-decoration: none;
	text-transform: none;
	z-index: 99;
}

.horizon-tabs li.ui-state-active a {
	border-style: solid;
	border-width: 1px;
	border-bottom-style: solid;
	border-bottom-width: 1px;
}

.horizon-tabs .tabs-nav {
	margin-bottom: 0;
}

.horizon-tabs .tabs-nav li:first-child a {
	border-radius: 4px 0 0 0;
	-moz-border-radius: 4px 0 0 0;
	-ms-border-radius: 4px 0 0 0;
	-o-border-radius: 4px 0 0 0;
	-webkit-border-radius: 4px 0 0 0;
}

.horizon-tabs .tabs-nav li:last-child a {
	border-radius: 0 4px 0 0;
	-moz-border-radius: 0 4px 0 0;
	-ms-border-radius: 0 4px 0 0;
	-o-border-radius: 0 4px 0 0;
	-webkit-border-radius: 0 4px 0 0;
}

.horizon-tabs .tabs-inner {
	border: 1px solid #dfdfdf;
	display: none;
	margin-top: -1px;
	padding: 20px;
	position: relative;
	text-align: left;
	z-index: 1;
}
